:root{
    --details: #FFA800;
    --background: #F6F6F6;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 20px;
    background: var(--background);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.rectangle{
    background-color: var(--details);
    width: 100%;
    height: 8px;
    margin-top: -10px;
    border-radius: 10px;
}

.box-text{
    display: flex;
}

.square{
    background-color: var(--details);
    margin-top:8px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

h1{
    font-size: 24px;
    margin-top: 14px;
    margin-left: -15px;
}

.form-container{
    background: #fff;
    border-radius: 10px;
    margin-top: -10px;
}

h2{
    font-size: 13px;
    padding: 10px 0;
    margin-bottom: -8px;
    margin-top: -2px;
}

input{
    background: var(--background);
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 6px 20px;
    margin-bottom: 10px;
}

.box-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-input{
    padding: 0px 20px;
}

.senha{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-eye-container{
    position: relative;
    width: 100%;
}

.input-eye-container input{
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

.input-eye-container i{
    position: absolute;
    right: 10px;
    top: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 12px;
    color: lightgray;
}

.box-check{
    padding: 0px 18px;
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.check-bx {
    margin-right: 5px;
    margin-left: 7px;
}

.text-termos{
    font-size: 12px;
    font-weight: 600;
    margin-top: 7px;
}

.bnt{
    background: #FFA800;
    font-weight: 600;
    padding: 10px;
    width: calc(100% - 30px);
    margin-left: 16px;
}

.bnt:hover{
    background: #ffaa00;
}

.text-outra-conta{
    font-size: 10px;
    color: #000000;
    font-weight: 600;
    margin-top: -10px;
    text-align: center;
}

.text-outra-conta a{
    color: black;
}

.text-outra-conta a:hover{
    color: #FFA800;
}